<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pago</title>
    </head>
    <body>
        <form method="post" action="{{url}}">
            <input name="merchantId"    type="hidden"  value="{{merchantId}}"   >
            <input name="accountId"     type="hidden"  value="{{accountId}}" >
            <input name="description"   type="hidden"  value="{{description}}"  >
            <input name="referenceCode" type="hidden"  value="{{referenceCode}}" >
            <input name="amount"        type="hidden"  value="{{amount}}"   >
            <input name="tax"           type="hidden"  value="0"  >
            <input name="taxReturnBase" type="hidden"  value="0" >
            <input name="currency"      type="hidden"  value="{{currency}}" >
            <input name="signature"     type="hidden"  value="{{signature}}"  >
            <input name="test"          type="hidden"  value="{{test}}" >
            <input name="buyerEmail"    type="hidden"  value="{{buyerEmail}}" >
            <input name="buyerFullName"    type="hidden"  value="{{buyerFullName}}" >
            <input name="confirmationUrl"    type="hidden"  value="{{confirmationUrl}}" >
            <button class="btn waves-effect waves-light red" type="submit" name="action">Pagar</button>
          </form>
    </body>
</html>
